@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --global-font-size: 1.2rem;
  --global-line-height: 1.6em;

  --global-font-size-mobile: 1.15rem;
  --global-line-height-mobile: 1.45em;

  /* #e0e0e0 may be a good background for admin settings */
  --page-bg: #f7f7f7;
  --page-text: #0f0f0f;
  /* --page-bg: url('/assets/wallpaper.png'); */
  --page-font: 'Noto Sans Display', sans-serif;
  --page-img-attachment: fixed; /* scroll | fixed */

  --header-bg: #ffffff;
  --header-text: #0f0f0f;
  --header-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  --header-hidden: 0 2px 10px rgba(0, 0, 0, 0);
  --header-font: 'Noto Sans Display', sans-serif;

  --copyright-font: 'Varela Round', 'Noto Sans Display', sans-serif;

  /* For RTL Support in LESS, the first var is seperated from the shadow */
  /* the first number 'size' will be multiplied by -1 in normal mode, and will remain positive in rtl mode */
  /* this will put the shadow on the left in normal mode, and on the right in rtl mode */
  --header-search-shadow-size: 5px;
  --header-search-shadow: 0 10px -5px rgba(0, 0, 0, 0.25);

  --logo-font: 'Varela Round', 'Noto Sans Display', sans-serif;

  --nav-max-width: 400px;

  --scrollbar-width: 0.4rem;
  --scrollbar-track-bg: rgba(0, 0, 0, 0.3);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.5);


  --header-img-height: 50vh;
  /* --header-img-height: auto; */
  --header-img-bg: url('/test/assets/header-image.png');
  /* --header-img-bg: #3d3d3d; */
  --header-img-overlay: rgba(0, 0, 0, 0.25);
  --header-img-shadow: inset 0 0 5px rgba(100, 100, 100, 0.75);
  /* --header-img-shadow: 0 0 5px rgba(0, 0, 0, 0.75); */
  --header-img-text: #ffffff;
  --header-img-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  --header-img-size: cover; /* cover | contain */
  --header-img-attachment: fixed; /* scroll | fixed */
  --header-img-inner-size: contain; /* cover | contain */
  --header-img-text-align: center; /* center | flex-start | flex-end | stretch | space-around | space-between | space-evenly */

  --hover-bg: #000000;


  --primary: #1b9fc7;


  --terminal-bg: #0f0f0f;
  --terminal-text: #1daf18;
  --terminal-autofill-hover: #f0f0f0;
  --terminal-radius: 5px;
  /* --terminal-transition-delay: 0.15s, 0.2s, 0.1s, 0.01s; */
  --terminal-transition-delay: 0.25s, 0.5s, 0.4s, 0.1s;

  /* --ad-bg: #640808; */
  --ad-bg: #000000;
  --ad-shadow: inset 0 0 5px 3px rgba(100, 8, 8, 0.75),
  0 0 10px 5px rgba(100, 8, 8, 0.75);
  --ad-shadow-hover: inset 0 0 5px 3px rgba(172, 24, 24, 0.75),
  0 0 10px 5px rgba(172, 24, 24, 0.75);
  --ad-img-size: contain; /* cover | contain */
  --ad-img-attachment: fixed; /* scroll | fixed */
  --ad-radius: 12px;
  --ad-text: #ffffff;
  --ad-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  --ad-font: 'Varela Round', 'Noto Sans Display', sans-serif;
}
